<%= form_with(model: booking, class: "relative flex flex-wrap items-end justify-center gap-3 lg:flex-nowrap") do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "datepicker", form: form, booking: booking %>
  <%= form.date_field :start_date, class: "hidden" %>
  <%= form.date_field :end_date, class: "hidden" %>

  <div>
    <button class="text-blue-900 bg-white font-semibold py-2 px-4 hover:font-bold border border-gray-500 rounded shadow md:w-auto md:flex-1"> Guests </button>
  </div>
  <div>
    <%= form.submit "Check Rooms and Rates", { class: "hover:cursor-pointer bg-blue-900 text-white font-semibold py-2 px-4 border-gray-500 rounded shadow md:w-auto md:flex-1" } %>
  </div>
<% end %>
