<%= form_with(model: pricing_strategy) do |form| %>
  <% if pricing_strategy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pricing_strategy.errors.count, "error") %> prohibited this pricing_strategy from being saved:</h2>

      <ul>
        <% pricing_strategy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex my-1">
    <p> If occupancy is greater than &nbsp;</p>
    <%= form.number_field :min_occupancy, max: 100, class: "w-10 border border-gray-400 rounded-lg px-2" %>
    <p class="ml-0.5"> %, but less than &nbsp;</p>
    <%= form.number_field :max_occupancy, max: 100, class: "w-10 border border-gray-400 rounded-lg px-2" %>
    <p class="ml-0.5"> %</p>
  </div>
  <div class="flex my-1">
    <p>from &nbsp;</p>
    <%= form.date_field :start_date, class: "border border-gray-400 rounded-lg px-1" %>
    <p>&nbsp; to &nbsp;</p>
    <%= form.date_field :end_date, class: "border border-gray-400 rounded-lg px-1" %>
  </div>
  <div class="flex my-1">
    <b>OR</b>
  </div>
  <div class="flex my-1">
    <%= form.number_field :distance_in_time, step: 1, class: "w-10 border border-gray-400 rounded-lg px-2" %>
    <p>&nbsp;</p>
    <%= form.select :distance_unit, options_for_select(['days', 'weeks', 'months', 'years']), {}, { class: "border border-gray-400 rounded-lg px-1" } %>
    <p>&nbsp; from now</p>
  </div>
  <div class="flex my-1">
    <p> the base price will be multiplied by &nbsp;</p>
    <%= form.number_field :multiplier, step: 0.01, class: "w-12 border border-gray-400 rounded-lg px-2" %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

