<div id="<%= dom_id pricing_strategy %>">
  <p>
    <strong>Multiplier:</strong>
    <%= pricing_strategy.multiplier %>
  </p>

  <p>
    <strong>Min occupancy:</strong>
    <%= pricing_strategy.min_occupancy %>
  </p>

  <p>
    <strong>Max occupancy:</strong>
    <%= pricing_strategy.max_occupancy %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= pricing_strategy.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= pricing_strategy.end_date %>
  </p>

  <p>
    <strong>Distance in time:</strong>
    <%= pricing_strategy.distance_in_time %>
  </p>

  <p>
    <strong>Distance unit:</strong>
    <%= pricing_strategy.distance_unit %>
  </p>

</div>
