<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :classification_ids, "Types", style: "display: block" %>
    <%= form.collection_check_boxes :classification_ids, Classification.all, :id, :name %>
  </div>

  <div data-controller="uploader">
    <div class="photos">
      <%= form.label :images, style: "display: block" %>
      <%= form.file_field :images, multiple: true, id: "photoInput", data: { action: "uploader#addImage" }%>
    </div>
    <div id="preview-container" class="flex flex-wrap justify-center">
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
