<div id="<%= dom_id room %>">
  <p>
    <strong>Room Name:</strong>
    <%= room.name%>
  </p>

  <p>
    <strong>Room Types:</strong>
    <%= room.classifications.map(&:name) %>
  </p>

  <p>
    <strong>Room Base Price:</strong>
    <%= room.base_price %>
  </p>

  <div>
    <% room.images.each do |image| %>
      <%= image_tag image.variant(:portfolio) %>
    <% end %>
  </div>

</div>
